<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Data Gather Agent</title>
        <!-- JAVASCRIPT -->
        <script src="static/js/jquery-3.3.1.min.js"></script>
        <script src="static/js/js-utils.js"></script>

         <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <!--link href="static/css/signin.css" rel="stylesheet"-->
        <!--link href="static/css/dashboard.css" rel="stylesheet"-->
        <!--link href="static/css/cover.css" rel="stylesheet"-->

        <style>
            .input-hidden{display: none;}
            .p-10 {
                padding: 10px;
            }
            html,
            body {
              /*height: 100%;*/
              background-color: #333;
              /* background: linear-gradient(to bottom right, #2E2E2E, #424242);*/
              color: #F2F2F2;
              text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
              box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
            }
            .dk-title {
               color: #151515;
            }
        </style>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">DGA</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                  <a class="nav-item nav-link" href="#">Features</a>
                  <a class="nav-item nav-link" href="#">Pricing</a>
                  <a class="nav-item nav-link disabled" href="#">Disabled</a>
                </div>
            </div>
            <ul class="navbar-nav px-3" id="profile">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </nav>

         <div class="container-fluid">
             <div class="row">
                  <div class="col-md-12">
                      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4 pb-2 mb-3 border-bottom">
                        <h1 class="h2">Dashboard</h1>
                        <p>under construction</p>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <h4 class="h4 text-center">Price change BTC(6hrs).</h4>
                            <canvas class="my-4" id="price_btc" width="900" height="380"></canvas>
                          </div>
                          <div class="col-md-6">
                              <h4 class="h4 text-center">Price change ETH(6hrs).</h4>
                            <canvas class="my-4" id="price_eth" width="900" height="380"></canvas>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12">
                              <h4 class="h4 text-center">%Change(6hrs).</h4>
                            <canvas class="my-4" id="btc_eth_pc" width="900" height="380"></canvas>
                          </div>
                      </div>

                  </div>
             </div>
         </div>

        <script src="static/js/Chart.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
        <input class="input-hidden" type="text" id="my-session" name="my-session">

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                       <h4 class="h3 mb-3 font-weight-normal dk-title">Please sign in</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2"></div>
                              <div class="col-md-8">
                                  <label for="email" class="sr-only">Email address</label>
                                  <input type="text" class="form-control" id="email" name="email" placeholder="Email address" required>
                                  <label for="password" class="sr-only">Password</label>
                                  <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="button">Sign in</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>